@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic-light {
    background-color: black;
    padding: 10px;
    margin: auto;
    display: inline-block;
    border: 2px solid rgb(29, 29, 29);
    border-radius: 25px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.red{
    background-color: red;
    margin: 6px;
    border: 2px solid rgb(29, 29, 29)
}
.yellow{
    background-color: yellow;
    margin: 6px;
    border: 2px solid rgb(29, 29, 29)
}
.green{
    background-color: green;
    margin: 6px;
    border: 2px solid rgb(29, 29, 29)
}

.glow {
    box-shadow: 0 0 16px #fa8745, inset 0 0 16px #fabd77;
  
}